{
  "env": {
    "node": true
  },
  "rules": {
    "object-curly-spacing": ["error", "never"],
    "space-before-function-paren": ["error", "never"],
    "comma-dangle": ["error", "only-multiline"]
  },
  "extends": "airbnb"
}
