{
  "env": {
    "node": true
  },
  "parser"  : "babel-eslint",
  "extends" : [
    'eslint:recommended', 'prettier', 'plugin:flowtype/recommended'
  ],
  "plugins": [
    "prettier",
    "flowtype",
    "fp"
  ],
  "rules": {
    'prettier/prettier': [ // customizing prettier rules (unfortunately not many of them are customizable)
      'error',
      {
        singleQuote: true,
        trailingComma: 'all',
      },
    ],
    eqeqeq: ['error', 'always'], // adding some custom ESLint rules
    // misc (CjK)
    "comma-dangle": ["error", "only-multiline"],
    "max-len": ["error", 120],
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }], // Allow unused function-args starting with an underscore
    // Rules for functional programming. We do not need Object.freeze.
    "fp/no-mutating-assign": 2
  }
}
