# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
build
coverage
dist

# dependencies
node_modules
bower_components

# misc
/.sass-cache
npm-debug.log
.tern-port
.DS_Store
.idea
GPATH
GRTAGS
GTAGS
TAGS
.projectile

# Credentials or sensitive information
app/config/group-address-list.js
